<ion-view title="Carrinho" id="page9">
  <ion-content padding="true" class="has-header">
  	<ul class="list">
  		<li class="item" ng-repeat="item in pedido">
  		<div>
   			<div style="float: left;">
  				<p style="width: 40px; height: 40px; font-size: 30px; margin: 10px auto; ">{{item.Qtd}}</p>
  			</div>	 		
  			<div style="float: left;">
    			<p>{{item.Nome}}</p>
    			<strong>{{item.Total.toFixed(2)}}</strong>
  			</div>
  			<div style="float: right;">	
    			<button class="button button-small button-assertive icon ion-close" ng-click="removeItem({{item}})"></button>
    			<button class="button button-small button-dark icon ion-minus" ng-click="removeQtd({{item}})"></button>	
    			<button class="button button-small button-balanced icon ion-plus" ng-click="addQtd({{item}})"></button>
  			</div>
  		</div>
  		</li>
  			<div style="float: right; margin: 15px; font-size: 30px;">
  				<p ng-show="pedido.length > 0">Total: {{total.toFixed(2)}}</p>
  			</div>
  			<div>
  				<button class="button button-block button-positive" ng-show="pedido.length > 0">Finalizar pedido</button>
  			</div>  		
  	</ul>
  </ion-content>
</ion-view>