<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="home-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="home-list-item-container3">
        <div id="home-markdown6">
          <p style="color:#000000;">
            <strong>preço</strong> e
            <strong>nome</strong> do produto.</p>
        </div>
      </div>
      <button id="home-button1" class="button button-positive  button-block">Adicionar ao Carrinho</button>
    </div>
  </ion-content>
</ion-view>