<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list" ng-repeat="item in listaDeHome">
      <div class="item item-image">
        <img ng-src="{{item.UrlImagem}}">
      </div>
      <div class="item">
        <h2>{{item.Nome}}</h2>
        <p>{{item.Descricao}}</p>
        <strong>{{item.Valor}}</strong>
        <div style="float: right;">
          <button class="button  button-small button-balanced ionic ion-plus" ng-click="addCarrinho({{item}})"></button>
        </div>    
      </div>
    </div>
  </ion-content>
</ion-view>