
  <ion-view title="Login" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list7">
        <label class="item item-input" id="login-input1">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Senha">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button6" class="button button-positive  button-block">Entrar</button>
      <a ui-sref="menu.signup" id="login-button7" class="button button-royal  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
