<ion-view title="Sabores" id="page8" ng-app="app">
  <ion-content padding="true" class="has-header">
    <ion-list id="sabores">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Digite o nome" ng-model="criterioDeBusca">
      </label>
      <div class="list" ng-repeat="item in listaDeProdutos | filter: criterioDeBusca">
        <div class="item item-thumbnail-left" href="#">
          <img ng-src="{{item.UrlImagem}}">
          <h2>{{item.Nome}}</h2>
          <p>{{item.Descricao}}</p>
          <strong>{{item.Valor}}</strong>
          <div style="float: right;">
            <button class="button  button-small button-balanced ionic ion-plus"></button>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>